@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-brand-blue: #2563eb;
  --color-brand-slate: #0f172a;
}

@layer base {
  body {
    @apply bg-brand-slate text-white antialiased selection:bg-brand-blue selection:text-white;
  }
}

.clip-path-comparison {
  clip-path: inset(0 0 0 var(--percent));
}
